Wiki_Documents/Tarifs_HCHP_Electricity/Tarifs_HCHP_Electricity.json
[
    {
        "id": "6a55191588a725b4",
        "type": "tab",
        "label": "tarifs HCHP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4606d54fee478efe",
        "type": "http request",
        "z": "6a55191588a725b4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.data.gouv.fr/fr/datasets/r/f7303b3a-93c7-4242-813d-84919034c416",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "902385cd08ea4378"
            ]
        ]
    },
    {
        "id": "e9c54ab356db5351",
        "type": "inject",
        "z": "6a55191588a725b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "4606d54fee478efe"
            ]
        ]
    },
    {
        "id": "902385cd08ea4378",
        "type": "csv",
        "z": "6a55191588a725b4",
        "name": "",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "b6f9eeeb6464321f"
            ]
        ]
    },
    {
        "id": "b6f9eeeb6464321f",
        "type": "sort",
        "z": "6a55191588a725b4",
        "name": "",
        "order": "ascending",
        "as_num": true,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "87812ccc3c301d4e",
                "54055d5524929f9f",
                "39dd97c944018de1",
                "1e57d1977e5b3c37",
                "c46879bbd344076d",
                "dc31f10ad72b8bc7",
                "0dae711eaf6ab9ad",
                "9b110e9550f551c9",
                "dd8e276af1e6d783"
            ]
        ]
    },
    {
        "id": "87812ccc3c301d4e",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "Date",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].DATE_DEBUT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 220,
        "wires": [
            [
                "7ed3b06573a3fdd9"
            ]
        ]
    },
    {
        "id": "f49cf7d0c9aa58e6",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "PART_FIXE_HT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PART_FIXE_HT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 280,
        "wires": [
            [
                "2034e4055546cfb9"
            ]
        ]
    },
    {
        "id": "63351b650c363061",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "PART_FIXE_TTC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PART_FIXE_TTC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 340,
        "wires": [
            [
                "27aa9e99feb78107"
            ]
        ]
    },
    {
        "id": "79d9424acf2ec088",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "PART_VARIABLE_HC_HT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PART_VARIABLE_HC_HT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 400,
        "wires": [
            [
                "5d885f9fe0c0c647"
            ]
        ]
    },
    {
        "id": "c1cb9c01456cc6e6",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "PART_VARIABLE_HC_TTC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PART_VARIABLE_HC_TTC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 460,
        "wires": [
            [
                "7a25937763a6c9a3"
            ]
        ]
    },
    {
        "id": "89a32915493756a7",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "PART_VARIABLE_HP_HT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PART_VARIABLE_HP_HT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 520,
        "wires": [
            [
                "e1140f91b0b4226a"
            ]
        ]
    },
    {
        "id": "42c68a21cd3413d0",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "PART_VARIABLE_HP_TTC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PART_VARIABLE_HP_TTC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 580,
        "wires": [
            [
                "82a6b9e21354f474"
            ]
        ]
    },
    {
        "id": "9998b2dab35bf94e",
        "type": "openhab2-out2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_Date",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2120,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7ed3b06573a3fdd9",
        "type": "moment",
        "z": "6a55191588a725b4",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "fr-FR",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 1820,
        "y": 220,
        "wires": [
            [
                "9998b2dab35bf94e"
            ]
        ]
    },
    {
        "id": "8f6c173156b1690e",
        "type": "openhab2-out2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_PART_FIXE_HT",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2150,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f8abe072b352c284",
        "type": "openhab2-out2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_PART_FIXE_TTC",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2160,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "74e0f009baa0f391",
        "type": "function",
        "z": "6a55191588a725b4",
        "name": "string to number",
        "func": "//read payload\nvar stringValue = msg.payload;\n\n//convert string to float to 2 decimal places\nvar floatValue = parseFloat(stringValue).toFixed(2);\nvar moisValue = Number(floatValue)/12\n//set and return payload\nmsg.payload = moisValue.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 280,
        "wires": [
            [
                "8f6c173156b1690e"
            ]
        ]
    },
    {
        "id": "c62bc509fd44bf7f",
        "type": "function",
        "z": "6a55191588a725b4",
        "name": "string to number",
        "func": "//read payload\nvar stringValue = msg.payload;\n\n//convert string to float to 2 decimal places\nvar floatValue = parseFloat(stringValue).toFixed(2);\nvar moisValue = Number(floatValue) / 12;\n//set and return payload\nmsg.payload = moisValue.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 340,
        "wires": [
            [
                "f8abe072b352c284"
            ]
        ]
    },
    {
        "id": "27aa9e99feb78107",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": ", to .",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": ".",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 340,
        "wires": [
            [
                "c62bc509fd44bf7f"
            ]
        ]
    },
    {
        "id": "2034e4055546cfb9",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": ", to .",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": ".",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 280,
        "wires": [
            [
                "74e0f009baa0f391"
            ]
        ]
    },
    {
        "id": "5d885f9fe0c0c647",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": ", to .",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": ".",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 400,
        "wires": [
            [
                "a004488adff1e505"
            ]
        ]
    },
    {
        "id": "7a25937763a6c9a3",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": ", to .",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": ".",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 460,
        "wires": [
            [
                "74d01d03cccac30e"
            ]
        ]
    },
    {
        "id": "e1140f91b0b4226a",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": ", to .",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": ".",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 520,
        "wires": [
            [
                "69e06b476257dd36"
            ]
        ]
    },
    {
        "id": "82a6b9e21354f474",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": ", to .",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": ".",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 580,
        "wires": [
            [
                "fb2ba6cc8d30ca9f"
            ]
        ]
    },
    {
        "id": "a004488adff1e505",
        "type": "function",
        "z": "6a55191588a725b4",
        "name": "string to number",
        "func": "//read payload\nvar stringValue = msg.payload;\n\n//convert string to float to 2 decimal places\nvar floatValue = parseFloat(stringValue).toFixed(4);\n\n//set and return payload\nmsg.payload = floatValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 400,
        "wires": [
            [
                "d90737e9d6b0efdc"
            ]
        ]
    },
    {
        "id": "74d01d03cccac30e",
        "type": "function",
        "z": "6a55191588a725b4",
        "name": "string to number",
        "func": "//read payload\nvar stringValue = msg.payload;\n\n//convert string to float to 2 decimal places\nvar floatValue = parseFloat(stringValue).toFixed(4);\n\n//set and return payload\nmsg.payload = floatValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 460,
        "wires": [
            [
                "50821333bfbb4ae9"
            ]
        ]
    },
    {
        "id": "69e06b476257dd36",
        "type": "function",
        "z": "6a55191588a725b4",
        "name": "string to number",
        "func": "//read payload\nvar stringValue = msg.payload;\n\n//convert string to float to 2 decimal places\nvar floatValue = parseFloat(stringValue).toFixed(4);\n\n//set and return payload\nmsg.payload = floatValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 520,
        "wires": [
            [
                "434513bf216ab406"
            ]
        ]
    },
    {
        "id": "fb2ba6cc8d30ca9f",
        "type": "function",
        "z": "6a55191588a725b4",
        "name": "string to number",
        "func": "//read payload\nvar stringValue = msg.payload;\n\n//convert string to float to 2 decimal places\nvar floatValue = parseFloat(stringValue).toFixed(4);\n\n//set and return payload\nmsg.payload = floatValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 580,
        "wires": [
            [
                "26486cbcad569a41"
            ]
        ]
    },
    {
        "id": "d90737e9d6b0efdc",
        "type": "openhab2-out2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_PART_VARIABLE_HC_HT",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2190,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "50821333bfbb4ae9",
        "type": "openhab2-out2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_PART_VARIABLE_HC_TTC",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2190,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "434513bf216ab406",
        "type": "openhab2-out2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_PART_VARIABLE_HP_HT",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "26486cbcad569a41",
        "type": "openhab2-out2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_PART_VARIABLE_HP_TTC",
        "topic": "ItemCommand",
        "payload": "",
        "onlywhenchanged": false,
        "x": 2190,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "60c0b89625d10030",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "36kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 700,
        "wires": [
            [
                "f49cf7d0c9aa58e6",
                "63351b650c363061",
                "79d9424acf2ec088",
                "c1cb9c01456cc6e6",
                "89a32915493756a7",
                "42c68a21cd3413d0"
            ]
        ]
    },
    {
        "id": "5b818456bc7b7789",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "30kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 640,
        "wires": [
            [
                "f49cf7d0c9aa58e6",
                "63351b650c363061",
                "79d9424acf2ec088",
                "c1cb9c01456cc6e6",
                "89a32915493756a7",
                "42c68a21cd3413d0"
            ]
        ]
    },
    {
        "id": "578ce7a52b2c0483",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "24kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "f49cf7d0c9aa58e6",
                "63351b650c363061",
                "79d9424acf2ec088",
                "c1cb9c01456cc6e6",
                "89a32915493756a7",
                "42c68a21cd3413d0"
            ]
        ]
    },
    {
        "id": "27c2af4ef1de24c2",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "18kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "f49cf7d0c9aa58e6",
                "63351b650c363061",
                "79d9424acf2ec088",
                "c1cb9c01456cc6e6",
                "89a32915493756a7",
                "42c68a21cd3413d0"
            ]
        ]
    },
    {
        "id": "fd7170db465202d5",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "15kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[4]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 460,
        "wires": [
            [
                "42c68a21cd3413d0",
                "89a32915493756a7",
                "c1cb9c01456cc6e6",
                "79d9424acf2ec088",
                "63351b650c363061",
                "f49cf7d0c9aa58e6"
            ]
        ]
    },
    {
        "id": "d633ea2cff8459f7",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "12kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[5]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 400,
        "wires": [
            [
                "42c68a21cd3413d0",
                "89a32915493756a7",
                "c1cb9c01456cc6e6",
                "79d9424acf2ec088",
                "63351b650c363061",
                "f49cf7d0c9aa58e6"
            ]
        ]
    },
    {
        "id": "a62dfce1f2d9fed3",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "9kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[6]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 340,
        "wires": [
            [
                "42c68a21cd3413d0",
                "89a32915493756a7",
                "c1cb9c01456cc6e6",
                "79d9424acf2ec088",
                "63351b650c363061",
                "f49cf7d0c9aa58e6"
            ]
        ]
    },
    {
        "id": "14ac0520632e34c6",
        "type": "change",
        "z": "6a55191588a725b4",
        "name": "6kVA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[7]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "f49cf7d0c9aa58e6",
                "63351b650c363061",
                "79d9424acf2ec088",
                "c1cb9c01456cc6e6",
                "89a32915493756a7",
                "42c68a21cd3413d0"
            ]
        ]
    },
    {
        "id": "ba2fd199b547c7db",
        "type": "openhab2-in2",
        "z": "6a55191588a725b4",
        "name": "",
        "controller": "e34e734bacc49f32",
        "itemname": "Tarifs_HCHP_Puissance_souscrite",
        "topic": "",
        "initialstate": true,
        "whenupdated": false,
        "whencommand": true,
        "whenchanged": false,
        "changedfrom": "",
        "changedto": "",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "4606d54fee478efe",
                "2bb331c1b8da9803"
            ]
        ]
    },
    {
        "id": "2bb331c1b8da9803",
        "type": "iGlass-logic-variable-set",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "39dd97c944018de1",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "6",
        "conditionValueType": "num",
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "14ac0520632e34c6"
            ]
        ]
    },
    {
        "id": "1e57d1977e5b3c37",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "9",
        "conditionValueType": "num",
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "a62dfce1f2d9fed3"
            ]
        ]
    },
    {
        "id": "c46879bbd344076d",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "12",
        "conditionValueType": "num",
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "d633ea2cff8459f7"
            ]
        ]
    },
    {
        "id": "dc31f10ad72b8bc7",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "15",
        "conditionValueType": "num",
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "fd7170db465202d5"
            ]
        ]
    },
    {
        "id": "0dae711eaf6ab9ad",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "18",
        "conditionValueType": "num",
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "27c2af4ef1de24c2"
            ]
        ]
    },
    {
        "id": "9b110e9550f551c9",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "24",
        "conditionValueType": "num",
        "x": 1110,
        "y": 580,
        "wires": [
            [
                "578ce7a52b2c0483"
            ]
        ]
    },
    {
        "id": "dd8e276af1e6d783",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "30",
        "conditionValueType": "num",
        "x": 1110,
        "y": 640,
        "wires": [
            [
                "5b818456bc7b7789"
            ]
        ]
    },
    {
        "id": "54055d5524929f9f",
        "type": "iGlass-logic-variable-condition",
        "z": "6a55191588a725b4",
        "name": "",
        "variableConfig": "49e2d5c72b801c1b",
        "variableName": "puissance",
        "conditionOperator": "eq",
        "conditionValue": "36",
        "conditionValueType": "num",
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "60c0b89625d10030"
            ]
        ]
    },
    {
        "id": "e34e734bacc49f32",
        "type": "openhab2-controller2",
        "name": "",
        "protocol": "http",
        "host": "",
        "port": "8080",
        "path": "",
        "username": "",
        "password": "",
        "ohversion": "v3",
        "token": ""
    },
    {
        "id": "49e2d5c72b801c1b",
        "type": "iGlass-logic-variable-config",
        "name": "puissance",
        "description": "puissance"
    }
]